# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [1]:
# @title Imports
import numpy as np
import pandas as pd

In [3]:
### TODO
tate_dataset = np.array([["Beuys,Joseph","Male",1921,1986,588],["Constable,John","Male",1776,1837,249],
["Daniell,William","Male",1769,1837,612],["Forbes,Elizabeth","Female",1859,1912,120],
["Flaxman,John","Male",1755,1826,287],["Phillips,Thomas","Male",1770,1845,274],
["Paolozzi Sir Eduardo","Male",1924,2005,385],["SChendel,Mira","Female",1919,1988,3],["Turner,William","Male",1775,1851,1861],["Warhol,Andy","Male",1928,1987,272]])

tate_dataset = pd.DataFrame(tate_dataset,columns=["Name","Gender","Year_Birth","Year_Death","N_works"])
print(tate_dataset)

                   Name  Gender Year_Birth Year_Death N_works
0          Beuys,Joseph    Male       1921       1986     588
1        Constable,John    Male       1776       1837     249
2       Daniell,William    Male       1769       1837     612
3      Forbes,Elizabeth  Female       1859       1912     120
4          Flaxman,John    Male       1755       1826     287
5       Phillips,Thomas    Male       1770       1845     274
6  Paolozzi Sir Eduardo    Male       1924       2005     385
7         SChendel,Mira  Female       1919       1988       3
8        Turner,William    Male       1775       1851    1861
9           Warhol,Andy    Male       1928       1987     272

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

### .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [9]:
tate_dataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [5]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                   Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys,Joseph    Male        1921        1986      588
1        Constable,John    Male        1776        1837      249
2       Daniell,William    Male        1769        1837      612
3      Forbes,Elizabeth  Female        1859        1912      120
4          Flaxman,John    Male        1755        1826      287
5       Phillips,Thomas    Male        1770        1845      274
6  Paolozzi Sir Eduardo    Male        1924        2005      385
7         SChendel,Mira  Female        1919        1988        3
8        Turner,William    Male        1775        1851     1861
9           Warhol,Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself.

In [20]:
### TODO
tate_dataset.to_csv('tate_dataset.csv', index=True, header=True)
tate_2 = pd.read_csv('tate_dataset.csv')
print(tate_2)
tate_dataset.to_csv('tate_dataset.csv', index=False, header=False)
tate_3 = pd.read_csv('tate_dataset.csv')
print(" ")
print(tate_3)

   Unnamed: 0                  Name  Gender  Year_Birth  Year_Death  N_works
0           0          Beuys,Joseph    Male        1921        1986      588
1           1        Constable,John    Male        1776        1837      249
2           2       Daniell,William    Male        1769        1837      612
3           3      Forbes,Elizabeth  Female        1859        1912      120
4           4          Flaxman,John    Male        1755        1826      287
5           5       Phillips,Thomas    Male        1770        1845      274
6           6  Paolozzi Sir Eduardo    Male        1924        2005      385
7           7         SChendel,Mira  Female        1919        1988        3
8           8        Turner,William    Male        1775        1851     1861
9           9           Warhol,Andy    Male        1928        1987      272

           Beuys,Joseph    Male  1921  1986   588
0        Constable,John    Male  1776  1837   249
1       Daniell,William    Male  1769  1837   612
2      Forbes,Elizabeth  Female  1859  1912   120
3          Flaxman,John    Male  1755  1826   287
4       Phillips,Thomas    Male  1770  1845   274
5  Paolozzi Sir Eduardo    Male  1924  2005   385
6         SChendel,Mira  Female  1919  1988     3
7        Turner,William    Male  1775  1851  1861
8           Warhol,Andy    Male  1928  1987   272

Delete the csv file now that we are done using it.

### pickle — Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [21]:
import pickle

tate_dataset.to_pickle('tate_dataset.pkl')

In [22]:
tate_2 = pd.read_pickle('tate_dataset.pkl')
tate_2

                   Name  Gender Year_Birth Year_Death N_works
0          Beuys,Joseph    Male       1921       1986     588
1        Constable,John    Male       1776       1837     249
2       Daniell,William    Male       1769       1837     612
3      Forbes,Elizabeth  Female       1859       1912     120
4          Flaxman,John    Male       1755       1826     287
5       Phillips,Thomas    Male       1770       1845     274
6  Paolozzi Sir Eduardo    Male       1924       2005     385
7         SChendel,Mira  Female       1919       1988       3
8        Turner,William    Male       1775       1851    1861
9           Warhol,Andy    Male       1928       1987     272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [23]:
# Check data type of the columns for Tate_1
tate_1.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

In [24]:
# Check data type of the columns for TateDataset
tate_dataset.dtypes

Name          object
Gender        object
Year_Birth    object
Year_Death    object
N_works       object
dtype: object

We can also display the values of a single column and check their data type as follow:

In [25]:
tate_dataset['Gender']

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [26]:
#@title Functions to download data 
########################################################################
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
########################################################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

In [27]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Local directory where you want to download and save the dataset.
data_dir = "weather-data/"

Now, we can download the dataset into the chosen local directory

In [28]:
download_and_extract(url=data_url, download_dir=data_dir)

- Download progress: 100.0%
Download finished. Extracting files.
Done.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?

**[TO DO]:** Select a format and load the dataset .

In [34]:
### TODO

'w'

In [36]:
### TODO
data_load = pd.read_csv(data_dir+"weather-denmark.csv")
print(data_load)

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [37]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [38]:
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())

In [39]:
df = load_original_data()
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

In [144]:
### TODO

df.index

MultiIndex([( 'Aalborg', '1980-03-01 00:00:00'),
            ( 'Aalborg', '1980-03-01 00:20:00'),
            ( 'Aalborg', '1980-03-01 00:50:00'),
            ( 'Aalborg', '1980-03-01 01:20:00'),
            ( 'Aalborg', '1980-03-01 01:50:00'),
            ( 'Aalborg', '1980-03-01 02:20:00'),
            ( 'Aalborg', '1980-03-01 03:00:00'),
            ( 'Aalborg', '1980-03-01 03:20:00'),
            ( 'Aalborg', '1980-03-01 04:00:00'),
            ( 'Aalborg', '1980-03-01 04:01:00'),
            ...
            ('Roskilde', '2018-03-01 20:50:00'),
            ('Roskilde', '2018-03-01 21:00:00'),
            ('Roskilde', '2018-03-01 21:20:00'),
            ('Roskilde', '2018-03-01 21:50:00'),
            ('Roskilde', '2018-03-01 22:00:00'),
            ('Roskilde', '2018-03-01 22:20:00'),
            ('Roskilde', '2018-03-01 22:50:00'),
            ('Roskilde', '2018-03-01 23:00:00'),
            ('Roskilde', '2018-03-01 23:20:00'),
            ('Roskilde', '2018-03-01 23:50:00')],
           names=['City', 'DateTime'], length=2918150)

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [ ]:
%pip install wbdata

In [42]:
#@title Imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

In [157]:
### TODO
wb.search_indicators("Renewable energy consumption")
data_date = datetime.datetime(2015, 1, 1)                                                                                             
content=wb.api.get_dataframe({"EG.FEC.RNEW.ZS":1},country="all",data_date=data_date)

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [155]:
### TODO
#print(wb.search_indicators("energy"))
content1=wb.api.get_dataframe({"2.1_SHARE.TOTAL.RE.IN.TFEC":0},country="all",data_date=data_date)
print(content1)
content2=wb.api.get_dataframe({"3.1_RE.CONSUMPTION":0},country="all",data_date=data_date)
print(" ")
print(content2)

                                    0
country
BES Islands                  2.969877
Nauru                        0.076290
Niue                        22.368127
Wallis and Futuna            0.000000
Caucasian and Central Asia        NaN
...                               ...
West Bank and Gaza          10.472715
Western Sahara                    NaN
Yemen, Rep.                  2.276417
Zambia                      87.985452
Zimbabwe                    81.797809

[259 rows x 1 columns]

                                       0
country
BES Islands                    112.78860
Nauru                            0.32988
Niue                            16.63123
Wallis and Futuna                0.00000
Caucasian and Central Asia           NaN
...                                  ...
West Bank and Gaza            6701.55000
Western Sahara                   0.00000
Yemen, Rep.                   2433.20100
Zambia                      301679.80000
Zimbabwe                    324422.60000

[259 rows x 1 columns]

### - Exporting the data 

* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

In [159]:
### TODO
content.to_excel("Renewable.xlsx")
wb.search_countries("Eu")
wb.search_indicators("energy consumption")
data_date = datetime.datetime(2006, 1, 1), datetime.datetime(2007, 1, 1), datetime.datetime(2008, 1, 1),
datetime.datetime(2009, 1, 1), datetime.datetime(2010, 1, 1), datetime.datetime(2011, 1, 1), datetime.datetime(2012, 1, 1), 
datetime.datetime(2013, 1, 1), datetime.datetime(2014, 1, 1), datetime.datetime(2015, 1, 1), datetime.datetime(2016, 1, 1)
#content=wb.api.get_dataframe({"EG.FEC.RNEW.ZS":0},country="EUU",data_date=data_date)     
#print(data_date)
#content1=wb.api.get_dataframe({"2.1_SHARE.TOTAL.RE.IN.TFEC":0},country="EUU",data_date=data_date)  
#content2=wb.api.get_dataframe({"3.1_RE.CONSUMPTION":0},country="EUU",data_date=data_date)   
content.to_csv()
#i dont know how to solve this problem

'country,1\r\nAfrica Eastern and Southern,61.1063974749704\r\nAfrica Western and Central,76.752856699044\r\nArab World,4.12690239382602\r\nCaribbean small states,6.89381284435208\r\nCentral Europe and the Baltics,17.144631348737\r\nEarly-demographic dividend,23.6574259960237\r\nEast Asia & Pacific,13.0562055082552\r\nEast Asia & Pacific (excluding high income),14.8690817781866\r\nEast Asia & Pacific (IDA & IBRD countries),14.8431496481352\r\nEuro area,16.1942878690272\r\nEurope & Central Asia,13.0065831169695\r\nEurope & Central Asia (excluding high income),5.7477741128909\r\nEurope & Central Asia (IDA & IBRD countries),6.99004408613412\r\nEuropean Union,17.6270561092927\r\nFragile and conflict affected situations,63.130616021106\r\nHeavily indebted poor countries (HIPC),76.7977768498813\r\nHigh income,11.4209065390815\r\nIBRD only,16.4425442876093\r\nIDA & IBRD total,21.9013526983275\r\nIDA blend,61.6434856872454\r\nIDA only,69.691559435339\r\nIDA total,65.7961833191547\r\nLate-demographic dividend,13.9935230928195\r\nLatin America & Caribbean,27.9099109472872\r\nLatin America & Caribbean (excluding high income),29.1672406836058\r\nLatin America & the Caribbean (IDA & IBRD countries),28.1618380640541\r\nLeast developed countries: UN classification,72.9504859508311\r\nLow & middle income,22.0235633263281\r\nLow income,77.1381081120343\r\nLower middle income,33.2534311439495\r\nMiddle East & North Africa,1.55730238717952\r\nMiddle East & North Africa (excluding high income),2.52380051010893\r\nMiddle East & North Africa (IDA & IBRD countries),2.48160059775106\r\nMiddle income,20.1635432061035\r\nNorth America,10.5276442406274\r\nNot classified,\r\nOECD members,12.3483235866029\r\nOther small states,27.0121799013553\r\nPacific island small states,30.4016686716974\r\nPost-demographic dividend,11.9558341809506\r\nPre-demographic dividend,73.6090447910187\r\nSmall states,23.7472054844809\r\nSouth Asia,35.9721634093208\r\nSouth Asia (IDA & IBRD),35.9721634093208\r\nSub-Saharan Africa,67.5260316445087\r\nSub-Saharan Africa (excluding high income),67.541882936207\r\nSub-Saharan Africa (IDA & IBRD countries),67.5260316445087\r\nUpper middle income,13.6651849824357\r\nWorld,17.5427829739106\r\nAfghanistan,17.53\r\nAlbania,38.47\r\nAlgeria,0.06\r\nAmerican Samoa,0.23\r\nAndorra,19.32\r\nAngola,47.84\r\nAntigua and Barbuda,0.48\r\nArgentina,9.4\r\nArmenia,10.74\r\nAruba,6.73\r\nAustralia,9.31\r\nAustria,34.82\r\nAzerbaijan,2.33\r\n"Bahamas, The",1.54\r\nBahrain,0.0\r\nBangladesh,31.93\r\nBarbados,3.16\r\nBelarus,6.83\r\nBelgium,9.37\r\nBelize,30.34\r\nBenin,49.94\r\nBermuda,0.55\r\nBhutan,86.68\r\nBolivia,8.02\r\nBosnia and Herzegovina,25.28\r\nBotswana,25.58\r\nBrazil,43.62\r\nBritish Virgin Islands,1.0\r\nBrunei Darussalam,0.01\r\nBulgaria,17.85\r\nBurkina Faso,72.71\r\nBurundi,91.15\r\nCabo Verde,26.35\r\nCambodia,60.63\r\nCameroon,78.06\r\nCanada,22.69\r\nCayman Islands,0.01\r\nCentral African Republic,92.86\r\nChad,77.35\r\nChannel Islands,\r\nChile,25.07\r\nChina,12.18\r\nColombia,31.6\r\nComoros,64.17\r\n"Congo, Dem. Rep.",95.82\r\n"Congo, Rep.",64.15\r\nCosta Rica,38.33\r\nCote d\'Ivoire,64.51\r\nCroatia,33.09\r\nCuba,21.15\r\nCuracao,1.6\r\nCyprus,10.51\r\nCzechia,14.84\r\nDenmark,32.89\r\nDjibouti,28.18\r\nDominica,8.8\r\nDominican Republic,14.88\r\nEcuador,13.07\r\n"Egypt, Arab Rep.",5.45\r\nEl Salvador,21.03\r\nEquatorial Guinea,4.56\r\nEritrea,77.56\r\nEstonia,28.16\r\nEswatini,71.68\r\nEthiopia,91.56\r\nFaroe Islands,7.47\r\nFiji,32.74\r\nFinland,43.23\r\nFrance,13.34\r\nFrench Polynesia,7.83\r\nGabon,81.95\r\n"Gambia, The",48.95\r\nGeorgia,28.15\r\nGermany,14.55\r\nGhana,44.02\r\nGibraltar,0.0\r\nGreece,17.47\r\nGreenland,12.72\r\nGrenada,11.07\r\nGuam,1.26\r\nGuatemala,63.4\r\nGuinea,76.23\r\nGuinea-Bissau,87.15\r\nGuyana,24.95\r\nHaiti,76.12\r\nHonduras,52.68\r\n"Hong Kong SAR, China",0.2\r\nHungary,15.6\r\nIceland,77.33\r\nIndia,33.4\r\nIndonesia,26.69\r\n"Iran, Islamic Rep.",0.91\r\nIraq,0.82\r\nIreland,9.2\r\nIsle of Man,2.17\r\nIsrael,3.74\r\nItaly,16.57\r\nJamaica,12.12\r\nJapan,6.16\r\nJordan,3.19\r\nKazakhstan,1.72\r\nKenya,72.04\r\nKiribati,45.73\r\n"Korea, Dem. People\'s Rep.",23.31\r\n"Korea, Rep.",2.74\r\nKosovo,20.37\r\nKuwait,0.01\r\nKyrgyz Republic,23.3\r\nLao PDR,53.27\r\nLatvia,38.1\r\nLebanon,4.17\r\nLesotho,44.94\r\nLiberia,83.93\r\nLibya,3.05\r\nLiechtenstein,55.53\r\nLithuania,28.96\r\nLuxembourg,9.09\r\n"Macao SAR, China",5.41\r\nMadagascar,80.55\r\nMalawi,80.87\r\nMalaysia,3.41\r\nMaldives,1.38\r\nMali,79.93\r\nMalta,5.98\r\nMarshall Islands,11.32\r\nMauritania,28.2\r\nMauritius,11.49\r\nMexico,9.19\r\n"Micronesia, Fed. Sts.",1.44\r\nMoldova,24.73\r\nMonaco,\r\nMongolia,3.55\r\nMontenegro,42.96\r\nMorocco,11.25\r\nMozambique,80.8\r\nMyanmar,70.43\r\nNamibia,28.99\r\nNauru,0.1\r\nNepal,85.04\r\nNetherlands,5.72\r\nNew Caledonia,5.09\r\nNew Zealand,31.24\r\nNicaragua,50.0\r\nNiger,78.88\r\nNigeria,82.15\r\nNorth Macedonia,23.91\r\nNorthern Mariana Islands,0.0\r\nNorway,58.12\r\nOman,0.0\r\nPakistan,45.88\r\nPalau,0.04\r\nPanama,21.9\r\nPapua New Guinea,55.15\r\nParaguay,60.51\r\nPeru,27.43\r\nPhilippines,30.75\r\nPoland,11.87\r\nPortugal,27.21\r\nPuerto Rico,1.86\r\nQatar,0.05\r\nRomania,23.67\r\nRussian Federation,3.2\r\nRwanda,86.31\r\nSamoa,37.47\r\nSan Marino,\r\nSao Tome and Principe,40.23\r\nSaudi Arabia,0.01\r\nSenegal,39.11\r\nSerbia,21.24\r\nSeychelles,1.36\r\nSierra Leone,75.0\r\nSingapore,0.65\r\nSint Maarten (Dutch part),0.05\r\nSlovak Republic,13.41\r\nSlovenia,21.38\r\nSolomon Islands,48.64\r\nSomalia,94.5\r\nSouth Africa,10.28\r\nSouth Sudan,26.7\r\nSpain,16.33\r\nSri Lanka,52.89\r\nSt. Kitts and Nevis,1.63\r\nSt. Lucia,11.52\r\nSt. Martin (French part),\r\nSt. Vincent and the Grenadines,4.3\r\nSudan,63.02\r\nSuriname,11.59\r\nSweden,51.91\r\nSwitzerland,23.94\r\nSyrian Arab Republic,0.58\r\nTajikistan,48.11\r\nTanzania,84.62\r\nThailand,22.65\r\nTimor-Leste,18.0\r\nTogo,81.03\r\nTonga,1.94\r\nTrinidad and Tobago,0.37\r\nTunisia,12.5\r\nTurkiye,13.34\r\nTurkmenistan,0.05\r\nTurks and Caicos Islands,0.37\r\nTuvalu,3.88\r\nUganda,91.07\r\nUkraine,4.15\r\nUnited Arab Emirates,0.13\r\nUnited Kingdom,8.61\r\nUnited States,9.03\r\nUruguay,59.4\r\nUzbekistan,1.71\r\nVanuatu,35.91\r\n"Venezuela, RB",15.33\r\nVietnam,30.33\r\nVirgin Islands (U.S.),4.16\r\nWest Bank and Gaza,10.99\r\n"Yemen, Rep.",1.96\r\nZambia,83.09\r\nZimbabwe,80.82\r\n'